<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
      <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
 <div th:replace="menu :: menu"></div>
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

 <div id="content" class="container">
	<div>
	Pliki wysłane:
			<table class="table">
				 <thead><th>Nazwa pliku</th><th>Data wyslania</th><th>Odbiorca</th><th>Otrzymana odpowiedz</th> </thead>
				 <tbody>
					<tr th:each="file : ${filesFrom}">
						<td>
							<a th:href="@{/file/{id}(id=${file.id})}" th:text="${file.orygName}"></a>
						</td>
						<td th:text="${file.createdAt}"></td>
						 <td th:text="${file.destinationFiles[0].dstUserEmail}"></td>
						<td th:if="${file.destinationFiles[0].response!=null and !file.destinationFiles[0].response.empty}" th:text="${file.destinationFiles[0].response[0].response}"></td>
					</tr>
				</tbody>
			</table>
	</div>
	
	<div>
	Pliki otrzymane:
			<table class="table">
			<thead>
				<th>Nazwa pliku</th><th>Data otrzymania</th><th>Nadawca</th><th>Napisz odpowiedz</th></thead>
				<tbody>
					<tr th:each="file : ${filesTo}">
						<td>
							<a th:href="@{/file/{id}(id=${file.id})}" th:text="${file.orygName}"></a>
						</td>
						<td th:text="${file.createdAt}"></td>
						<td th:text="${file.uploadBy}"></td>
						<td th:if="${file.destinationFiles[0].response!=null and !file.destinationFiles[0].response.empty}" th:text="${file.destinationFiles[0].response[0].response}"></td>
					</tr>
				</tbody>
			</table>
	</div>
</div>
</body>
</html>