<!--
  ~ Copyright 2018 Okta, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
  <body id="samples">
  <div th:replace="menu :: menu"></div>

    <div id="content" class="container">
      <div class="okta-header">
            <img width="300px" src="/images/WTIE.png"/>
        </div>
		<div th:if="${message}">
			<h2 th:text="${message}"/>
		</div>
	 <div th:unless="${#authorization.expression('isAuthenticated()')}">
	 	<form method="get" th:action="@{/oauth2/authorization/okta}" th:unless="${#authorization?.expression('isAuthenticated()')}">
          <button id="login-button" class="btn btn-primary" type="submit">Zaloguj</button>
        </form>
      </div>

      <div th:if="${#authorization?.expression('isAuthenticated()')}">
      
      </div>
      
      <!--   <h4 sec:authorize="hasAuthority('User')">You are in the users group</h4>
        <h4 sec:authorize="hasAuthority('Admin')">You are in the admins group</h4> -->
       
    </div>
  </body>
</html>