<!--
  ~ Copyright 2018 Okta, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<html xmlns:th="http://www.thymeleaf.org">

<body id="samples">

    <nav class="navbar navbar-default"  th:fragment="menu">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}">Strona Glowna</a></li>
            
            <li><a id="profil-button" th:href="@{/profile}" th:if="${#authorization.expression('isAuthenticated()')}">Profil</a></li>
            <li><a id="skrzynka-button" th:href="@{/listFiles}" th:if="${#authorization.expression('isAuthenticated()')}">Skrzynka</a></li>
            <li><a id="wyslij-plik-button" th:href="@{/uploadForm}" th:if="${#authorization.expression('isAuthenticated()')}">Wyslij plik</a></li>
        </ul>
        <form method="post" th:action="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}" class="navbar-form navbar-right">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button id="logout-button" type="submit" class="btn btn-danger">Wyloguj</button>
        </form>
      </div>
    </nav>

</body>
</html>