<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Wyslij</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
<body>
 <div th:replace="menu :: menu"></div>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="uploadFile">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<table>
				<tr><td>Plik do wyslania:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
			
			<select name="user">
			  <option th:each="user : ${users}"><b th:text="${user}"></b></option>
			</select>
		</form>
	</div>

</body>
</html>